body {
	background-color: rgb(252, 245, 200)
}

h1, h2, h3, h4, h5 {
  font-family: Mono;
  font-weight: bold !important; /* I know important is bad but I want to overrride the inline css */
  /*! font-weight: bold; */
}

p {
  font-size: 15pt;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}




